/* 
Main Colors:
#fde74cff
#bf211eff
*/

.App {
  background-color: #bf211eff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Tomorrow", sans-serif;
  text-align: center;
}
